body{
    background-color: rgb(239, 238, 238);
}
#paymentpage{
    height: auto;
    width: 73%;
    margin: auto;
    background-color: white;
    padding-bottom: 30px;
}
#billinfobox{
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#billinfobox>div:first-child{
    width:60%;
}
#billinfodata>div>p{
    margin-left: 10px;
    padding-top: 6px;
}
#paymentpage>div:first-child{
    padding: 30px;
}
#billinfobox>div>form>input:nth-child(2){
    padding:3Px 317px 3px 3px;
    margin: 1% auto;
}
#billinfobox>div>form>input:last-child{
    padding:3Px 317px 3px 3px;
    margin: 1% auto;
}
#billinfobox>div>form>input:nth-child(3){
    padding:3Px 72px 3px 3px;
    margin: 1% auto;
}
#billinfobox>div>form>input:nth-child(4){
    padding:3Px 72px 3px 3px;
    margin: 1% auto;
}
#billinfobox>div>form>input:nth-child(5){
    padding:3Px 72px 3px 3px;
    margin: 1% auto;
}
#countrybox{
    padding: 3px 43px 4px 3px;
}
#orderdetailsbox{
    border:1px rgb(109, 109, 107) solid;
    width: 25%;
    height: 125px;
    padding-left: 2%;
    margin-top: -4%;
    padding-right: 2%;;
}
#orderdetailsbox>p,h4{
    margin-top: -3%;
}
#paymentbox{
    height: 370px;
    width: 60.7%;
    margin-left: 20px;
    display: flex;
    border: 1px rgb(214, 214, 214) solid;
}
#paymentmode{
    width: 140px;
    height: auto;
    margin-top: -6px;
}
#paymentmode>div>p{
    margin-left: 14px;
    font-size: 13px;
}
#paymentmode>div:nth-child(2){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(3){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(4){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(5){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(6){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(7){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(8){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentmode>div:nth-child(9){
    height:40px ;
    border: 1px rgb(214, 214, 214) solid;
    width:140px ;
}
#paymentdetails{
    width: 450px;
    height: auto;
    display: flex;
    margin-top: -15px;
}
#imagebox>img{
    height:30px ;
    width: 30px;
    margin-top: -5px;
}
#paymentdetails>div:first-child{
    height: 40px;
    width: 200px;
}
#paymentdetails>div:first-child>select{
    margin-left: 5px;
    padding:3px 10px 3px 10px;
}
#cvvbox>input{
    width: 40px;
    margin-left:10px;
    padding-top: -100px;
}
#imagebox{
    height: 40px;
    width: 100px;
}
#cvvbox{
    height: 40px;
    width: 60px;
}
#amountbox{
    display: flex;
    margin-top: -25px;
}
#expirydatecvv{
    display: flex;
    width: 53%;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: -17px;
}
#card>div:first-child{
    margin-top: -10px;
}
#card>div:last-child>img{
    height: 28px;
    margin-top: -15px;
}
#card{
    display: flex;
}
#cardpayment{
    margin-left: 20px;
}
.paymentbutton{
    background-color: rgb(83, 183, 83);
    border: 0px;
    padding: 5px 6px 5px 6px;
    color: white;
    margin-top: -100%;
    margin-left: 10px;
}
#terms{
    margin-top: -1px;
    font-size: 15px;
}
#checkbox{
    display: flex;
    margin-left: 40px;
    margin-top: -40px;
}
#checkboxp{
    margin-top: -1px;
    margin-left: 6px;
}
.bar{
    width:61%;;
    height: 35px;
    background-color: rgb(83, 183, 83);
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    color: white;
}
.bar>p{
    margin-left: 10px;
    padding-top: 8px;
}
#billinfobox>div>form>div:first-child{
    height: 25px;
    width: 90.4%;
    border: 1px rgb(130, 130, 130) solid;
    margin: 15px 0px 7px 0px;
    border-radius: 2px;

}
#billinfobox>div>form>div>p{
    margin: 4px 5px 0px 2px;
}
#billinfobox>div>form>div:nth-child(7){
    height: 25px;
    width: 44.4%;
    border: 1px rgb(130, 130, 130) solid;
    margin: 5px 0px 10px 0px;
    margin-top: px;
    border-radius: 2px;
}
#billinfobox>div>form>div:nth-child(8){
    height: 25px;
    width: 44.4%;
    border: 1px rgb(130, 130, 130) solid;
    margin: 15px 0px 9px 245px;
    margin-top: -37px;
    border-radius: 2px;
}