*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* header part styling */

.header-wrapper{
    display: flex;
    justify-content: right;
    height: 40px;
    font-size: 14px;
    background-color: black;
    color: white;
    align-items: center;
}
.header-wrapper>div{
    margin-right: 30px;
}

.header-wrapper>div>a{
    color: white;
    text-decoration: none;
}

.header-wrapper>div>i{
    margin-right: 10px;
}

/* sportsjam line styling */

#header{
   display: flex;
   margin-top: 2%;
}

#header>.search>div{
    width: 60%;
    background-color: #fff;
    height: 65%;
    border: 2px solid rgba(128, 128, 128, 0.689);
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

#header>div>div>input{
    width: 90%;
    height: 101%;
    border-radius: 5px;
    border: none;
    margin: 0px;
    padding-left: 10px;

}

#header>div>div>span{
    background-color: white;
    border: none;
    margin-top: 7px;
    color: #898989;
}


#header>div{
    display: flex;
    justify-content: center;
    height: 60px;
}
#header>div:nth-child(1){
     flex-grow: 1;
}

#header>div:nth-child(2){
     flex-grow: 5;
     display: flex;
     align-items: center;
}

#header>div:nth-child(3){
     flex-grow: 1;
     color: rgba(0, 0, 0, 0.729);
}

.cart{
     margin: 15px;
     font-weight: bold;
     letter-spacing: -1px;
}


/* category part styling */

.category{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
}
.category>p{
   margin-left: 30px;
   height: 100%;
   padding: 15px;
}
.category>p:nth-child(1){
    margin-left: 50px;
}
.category>p:hover{
    background-color: black;
    color: white;
    padding: 15px;
}


/* carousal sectionn styling */
#container{
    width: 99%;
    height: auto;
    margin: auto;
}
.height{
    height: 560px;
    width: 100%;
}


/* card section styling */

.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
    padding: 20px;
}
.box{
    position: relative;
}
.box-container>.box>img{
    width: 100%;
}
.box-content{
    text-align: center;
    position: absolute;
    width: 95%;
    bottom: -25%;
    left: 50%;
    color: white;
    transform: translate(-50%);
    opacity: 0;
    z-index: 2;
}
.box-content>h4{
    opacity: 1;
   font-size: 20px;
   font-weight: 400;
}

.box:hover .box-content{
    opacity: 1;
    bottom: 0%;
    transition: all 1.5s ease 0s;

}
.box-content>div{
     width: 30%;
     margin: auto;
     height: 30px;
     margin-bottom: 10px;
     border: 1px solid white;
     width: 50%;
     padding-top: 5px;
}
.box-content>div:hover{
    background-color: whitesmoke;
    transition: all 1.5s ease 0s;
}
.box-content>div>a:hover{
    color: #333;
    transition: all 1.5s ease 0s;
}
.box-content>div>a{
    color: white;
    text-decoration: none;
    padding: 4px 20px;
}
.box::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(128, 128, 128, 0.563);
    opacity: 1;
}
.box:hover::after{
    height: 40%;
    transition: all 1.5s ease 0s;
}

/* service section styling */

.service-box>h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
.service{
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.service>div>div>a{
    color: #333;
    text-decoration: none;
}
.service>div>div{
    border: 1px solid  #333;
    width: 17%;
    padding: 10px;
}
.service>div>h4{
    margin-top: 40px;
}

.service-data{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 30px;
}
.service-data>p{
    padding: 10px 15px;  
}
.service-data>p:hover{
    color: white;
    background-color: black;
    padding: 10px 15px;
}

/*victor  card section styling */

.victor{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    text-align: center;
}
.victor>div>p{
    margin:15px 0px 30px 0px;
}
.victor>div>img{
    width: 95%;
}

/* scroll section image styling  */

.owl-carousel{
    display: flex;
    height: 100px;
    margin: 20px 20px 50px 40px;
    justify-content: space-around;
}
.owl-carousel>div>img{
    height: 90%;
}

/* big card section styling  */
.big-card>img{
    width: 100%;
}
/* about card designing */

.about-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding:0px  30px;

}
.about-card>div>p{
    font-size: 14px;
    color: #333;
    line-height: 28px;

}
.about-card>div>h5{
    font-weight: 700;
    font-size: 17px;
}

.about-card>div>button{
    background: #262626;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin: 40px 0 0;
    padding: 9px 25px;
}

.about-card>div>button:hover{
    background-color:coral;
}

/* testimonial section styling  */

.testimonial{
    width: 95%;
    margin: auto;
    text-align: center;
}

.testimonial>h2{
    font-family: raleway,sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 0 0 10px;
    color: #333;
    margin-top: 30px;
}

.testimonial>p{
    color: #666;
    font-size: 13px;
    line-height: 21px;
}
.testimonial>button{
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    margin: 25px 0 0;
    padding: 8px 45px;
    text-decoration: none;
    display: inline-block;
}
.testimonial>button:hover{
    color: coral;
    border-color: coral;
}






