*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}




.header-wrapper{
    display: flex;
    justify-content: right;
    height: 40px;
    font-size: 14px;
    background-color: black;
    color: white;
    align-items: center;
}
.header-wrapper>div{
    margin-right: 30px;
}

.header-wrapper>div>a{
    color: white;
    text-decoration: none;
}

.header-wrapper>div>i{
    margin-right: 10px;
}



#header{
   display: flex;
   margin-top: 2%;
}

#header>.search>div{
    width: 60%;
    background-color: #fff;
    height: 65%;
    border: 2px solid rgba(128, 128, 128, 0.689);
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

#header>div>div>input{
    width: 90%;
    height: 101%;
    border-radius: 5px;
    border: none;
    margin: 0px;
    padding: 0px;
}

#header>div>div>span{
    background-color: white;
    border: none;
    margin-top: 7px;
    color: #898989;
}


#header>div{
    display: flex;
    justify-content: center;
    height: 60px;
}
#header>div:nth-child(1){
     flex-grow: 1;
}

#header>div:nth-child(2){
     flex-grow: 5;
     display: flex;
     align-items: center;
}

#header>div:nth-child(3){
     flex-grow: 1;
     color: rgba(0, 0, 0, 0.729);
}

.cart{
     margin: 15px;
     font-weight: bold;
     letter-spacing: -1px;
}




.category{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
}
.category>p{
   margin-left: 30px;
   height: 100%;
   padding: 15px;
}
.category>p:nth-child(1){
    margin-left: 50px;
}
.category>p:hover{
    background-color: black;
    color: white;
    padding: 15px;
}
#heading{
    height: 70px;
    width: 100%;
    border: 10px;
    border-radius:0px;
    background-color: silver;
    font-size: 30px ;
    margin-top: 30px;
    color: rgb(30, 24, 24);
    margin-bottom: 10px;
    
}
.table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#continueshopping {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: silver;
}
.proceed{
    background-color: rgb(233, 107, 61);
    padding: 2px;
    color: white;
    height: 60px;
    width: 10%;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.shopping{
    background-color: silver;
    padding: 2px;
    color: white;
    height: 60px;
    width: 11%;
    font-size:20px;
    margin-left: 20px;
    border-radius: 5px;
    
    
}
.table{
    margin-top: 20px;
}
