#main {
    /* border:1px solid black; */
    height: 600px;
    width: 98%;
    margin: auto;
    display: flex;
}

#one {
    width: 8%;
    /* border: 1px solid orange; */
    height: 100%;
}

#two {
    width: 45%;
    /* border: 1px solid green; */
    height: 100%;
}

#three {
    width: 47%;
    /* border: 1px solid blue; */
    height: 100%;
}

#one>img {
    width: 100%;
    height: 80px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 10px;
    padding: 0 5px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

#do>div>p {
    margin-top: 5px;
}

#do {
    display: flex;
}

hr {
    margin: 15px;
}

#chey {
    display: flex;
}

#chey>div {
    margin-left: 14px;
    height: 25px;
    width: 40px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

#char {
    display: flex;
    justify-content: space-around;
    width: 40%;
    font-size: 20px;
}

#char>div:nth-child(3) {
    color: orangered;

}

#char>div:nth-child(1) {
    text-decoration: line-through;
    color: grey;

}

h2 {
    font-family: sans-serif
}

#saat>button {
    background-color: #FF6600;
    color: white;
    padding: 15px 45px;
    border: none;
    font-size: 15px;

}

#ath {
    display: flex;
    color: grey;
    margin: 20px;
}

#ath>div {
    margin-right: 40px;
    margin-left: -20px;
}

#no {
    display: flex;
}

#no>div {
    margin-right: 20px;
}

#dus {
    margin: 15px;
    color: grey;
}

#dus>p {
    margin-left: -20px;
}

#gera {
    display: flex;

}

#gera>button {
    background-color: black;
    color: white;
    border: none;
    padding: 4px 10px;
    margin-right: 10px;
}

#gera>p {
    margin-left: 30px;
}

#bara {
    margin-top: 20px;
}

p {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#chey>div:nth-child(3) {
    color: black;
    background-color: #FF6600;
}

#chey>div>p {
    margin-top: -15px;
    font-weight: 900;
}